[submodule "cmake"]
	path = cmake
	url = git@github.com:chronoxor/CppCMakeScripts.git
	branch = master
[submodule "scripts"]
	path = scripts
	url = git@github.com:chronoxor/CppBuildScripts.git
	branch = master
[submodule "modules/catch"]
	path = modules/catch
	url = git@github.com:philsquared/Catch.git
	branch = master
[submodule "modules/CppBenchmark"]
	path = modules/CppBenchmark
	url = git@github.com:chronoxor/CppBenchmark.git
	branch = master
